<script setup lang="ts">
import articles from '~/store/statics/articles.json'
import { type Article } from '~/types'

const route = useRoute()

const article = ref(articles.find((a: Article) => a.id === route.params.id))
</script>

<template>
  <main class="text-left">
    <Article v-bind="article" :open="true" />
  </main>
</template>

<route lang="yaml">
meta:
  title: Zac Pez Portfolio
</route>
