@import "./variables.pcss";
@import "base/graphics.pcss";
@import "base/lists.pcss";
@import "base/typography.pcss";

body,
html,
#app {
  font-family: Montserrat;
  min-height: 100vh;
  font-size: 16px;
}

body {
  background-image: linear-gradient(to bottom right, var(--lighest-1), var(--lightest));
  color: var(--darkest);
  font-family: Montserrat, sans-serif;
  font-display: swap;
  height: fit-content;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

ul, ol, button, input, option, select, textarea, fieldset, label, pre, table, p {
  color: var(--darkest);
}


fieldset {
  border-color: var(--secondary-2-3);
}

button, select, input, textarea, a.button {
  font-family: Maven Pro, sans-serif;
  color: var(--lightest);
  padding: 6px;
  height: 32px;
  background: var(--darkest);
  border: 1px solid var(--secondary-2-3);
  box-shadow: 1px 1px 1px var(--secondary-2-3);
  border-style: groove;
  cursor: pointer;
}

button:hover, a.button:hover {
  color: black;
  background: var(--lightest-1);
}

.button--disabled.button--disabled {
  pointer-events: none;
  cursor: not-allowed;
}

option, optgroup {
  background: var(--darkest);
  border: none;
  outline: none;
}

blockquote {
  border-left: 4px solid var(--secondary-2-2);
  padding: 16px;
  background: linear-gradient(90deg, #222 0%, var(--darkest) 10%, var(--darkest) 100%);
}

blockquote p {
  margin: 0 0 16px;
}

ul.list--bare {
  list-style: none;
  padding: 0;
}

input[type=checkbox],
input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
}

input[type=radio] {
  border: 1px solid #000;
  border-radius: 50%;
}

input[type=checkbox]:checked,
input[type=radio]:checked {
  background: radial-gradient(closest-side, var(--secondary-1-2), var(--secondary-1-3));
}

input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus,
input[type=range]::-webkit-slider-thumb:focus,
input[type=range]::-webkit-slider-thumb:active {
  outline: none !important;
  outline-offset: 0 !important;
  color: var(--secondary-1-2);
  border: 1px solid var(--secondary-1-2);
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus,
input::-webkit-datetime-edit-text:focus {
  background-color: var(--secondary-1-2);
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  box-shadow: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: var(--secondary-2-3);
  width: 100%;
  height: 12px;
  box-shadow: 1px 1px 1px var(--secondary-2-3), 0px 0px 1px var(--darkest);
  border: 1px solid var(--secondary-2-3);
  border-style: groove;
}

input[type=range]::-webkit-slider-thumb {
  background: var(--secondary-2-1);
  width: 12px;
  height: 12px;
  margin-top: -1px;
  border: 1px solid var(--secondary-2-3);
  box-shadow: 3px 0px 4px var(--darkest), -3px 0px 4px var(--darkest);
  -webkit-appearance: none;
  cursor: pointer;
}

dl {
  color: var(--secondary-2-2);
  font-weight: 600;
}

dd {
  color: var(--secondary-2-1);
  font-weight: 300;
}

hr {
  border-color: var(--secondary-1-2);
}

.visually-hidden {
  position: absolute;
  left: -9999px;
}

.dark {
  & body {
    background-image: linear-gradient(to bottom right, var(--darkest-1), var(--darkest));
    color: var(--lightest);
  }

  ul, ol, button, input, option, select, textarea, fieldset, label, pre, table, p {
    color: var(--lightest);
  }

  button, select, input, textarea, a.button {
    font-family: Maven Pro, sans-serif;
    color: var(--darkest);
    padding: 6px;
    height: 32px;
    background: var(--lightest);
    border: 1px solid var(--secondary-2-3);
    box-shadow: 1px 1px 1px var(--secondary-2-3);
    border-style: groove;
    cursor: pointer;
  }

  button:hover, a.button:hover {
    color: black;
    background: var(--lightest-1);
  }
}
