
:root {
  --primary-0: rgba( 72, 30, 63, 1);
  --primary-1: rgba(252, 150, 230, 1);
  --primary-2: rgba(133, 78, 121, 1);
  --primary-3: rgba(33, 6, 27, 1);

  --secondary-1-0: rgba(99, 88, 42, 1);
  --secondary-1-1: rgba(255, 236, 152, 1);
  --secondary-1-2: rgba(183, 169, 108, 1);
  --secondary-1-3: rgba(45, 39,  8, 1);

  --secondary-2-0: rgba(29, 68, 50, 1);
  --secondary-2-1: rgba(150, 252, 206, 1);
  --secondary-2-2: rgba(74, 126, 103, 1);
  --secondary-2-3: rgba(5, 31, 20, 1);

  --lightest: rgba(238, 238, 238, 1);
  --lightest-aplha: rgba(238, 238, 238, 0.2);
  --lightest-1: rgba(222, 222, 222, 1);
  --darkest: rgba(17, 17, 17, 1);
  --darkest-1: rgba(34, 34, 34, 1);
  --darkest-alpha: rgba(0, 0, 0, 0.3);

  --foreground-0: rgba(255, 236, 152, 1);
  --foreground-1: rgba(183, 169, 108, 1);
  --foreground-2: rgba(99, 88, 42, 1);
  --foreground-3: rgba(45, 39,  8, 1);

  --complement-0: rgba(230, 255, 152, 1);
  --complement-1: rgba(157, 174, 102, 1);
  --complement-2: rgba(81, 94, 40, 1);
  --complement-3: rgba(35, 43, 7, 1);

  --viewport-smallest: 320px;
  --viewport-small: 480px;
  --viewport-tab-small: 600px;
  --viewport-tab-medium: 768px;
  --viewport-tab-large: 900px;
  --viewport-tab-large: 1024px;
  --viewport-tab-largest: 1200px;
}
