<template>
  <div class="my-auto">
    <h2>Page Not Found</h2>
    <p>This page has either been removed, or there is an error in the URL.</p>
  </div>
</template>

<route lang="yaml">
meta:
  title: Zac Pez Portfolio - 404
</route>
