<script setup lang="ts">
import articles from '~/store/statics/articles.json'
</script>

<template>
  <main>
    <h2>Articles</h2>
    <Article v-for="article in articles" :key="article.id" v-bind="article" />
  </main>
</template>

<route lang="yaml">
meta:
  title: Zac Pez Portfolio
</route>
