<script setup lang="ts">
import articles from '~/store/statics/articles.json'
import staticsProjects from '~/store/statics/projects.json'
// eslint-disable-next-line import/no-duplicates
import { type Project } from '~/types'
// eslint-disable-next-line import/no-duplicates
import type { Projects, Repo } from '~/types'

const allProjects = ref<Project[]>([])

function fromGitlab(gitlab: any): Repo {
  return {
    id: gitlab.path_with_namespace,
    url: gitlab.web_url,
    title: gitlab.name,
    updatedAt: gitlab.last_activity_at,
    author: gitlab.namespace.name,
    description: gitlab.description,
    issueCount: 0,
    issueLink: `${gitlab.web_url}/-/issues`,
    watcherCount: gitlab.star_count,
    watcherLink: `${gitlab.web_url}/-/starrers`,
    forkCount: gitlab.forks_count,
    forkLink: `${gitlab.web_url}/-/forks`,
    wikiLink: `${gitlab.web_url}/-/wikis/home`,
  } as Repo
}

function fromGithub(github: any): Repo {
  return {
    id: github.fullname,
    url: github.html_url,
    title: github.name,
    updatedAt: github.updated_at,
    author: github.owner.login,
    description: github.description,
    issueCount: github.open_issues,
    issueLink: `${github.html_url}/issues`,
    watcherCount: github.watchers,
    watcherLink: `${github.html_url}/watchers`,
    forkCount: github.forks,
    forkLink: `${github.html_url}/network/members`,
    wikiLink: `${github.html_url}/wiki`,
  } as Repo
}

onMounted(async () => {
  // TODO: find better storage for more accurate type
  const statics = (staticsProjects as unknown) as Projects
  await Promise.all([
    fetch('https://gitlab.com/api/v4/users/1656216/projects').then((data) => {
      data.json()
        .then((data) => {
          data.forEach((project: any) => {
            const repo: Repo = fromGitlab(project)
            const projectDetails = (statics[repo.title] || { status: ['latest'] }) as Project
            projectDetails.repo = repo
            allProjects.value.push(projectDetails)
          })
        })
    }),
    fetch('https://api.github.com/users/zacpez/repos', {
      headers: {
        Authorization: 'basic zacpez:6f59e4fe6561a7f9513d5d14a8afc47d31425716',
      },

    }).then((data) => {
      data.json()
        .then((data) => {
          data.forEach((project: any) => {
            const repo: Repo = fromGithub(project)
            const projectDetails = (statics[repo.title] || { status: ['latest'] }) as Project
            projectDetails.repo = repo
            allProjects.value.push(projectDetails)
          })
        })
    }),
  ])
})

const leftProjects = computed(() => allProjects.value.slice(0, allProjects.value.length / 2))
const rightProjects = computed(() => allProjects.value.slice(allProjects.value.length / 2))
</script>

<template>
  <div
    class="grid grid-cols-[1fr,2fr] <lg:grid-cols-1 gap-y-16 lg:gap-y-8 lg:gap-x-16 mt-16 text-left"
  >
    <Info class="row-start-1 col-start-1" />
    <section class="feed row-start-2 row-span-2 <lg:row-span-1 lg:row-start-1 col-start-1 lg:col-start-2">
      <h2>Articles</h2>
      <Article v-for="article in articles" :key="article.id" v-bind="article" />
    </section>
    <Bio class="row-start-2 col-start-1 lg:row-start-2 lg:col-start-1" />
    <section
      class="projects row-start-4 col-start-1 <lg:col-span-1 <lg:row-start-4 <lg:col-start-1"
    >
      <h2>Projects</h2>
      <div class="projects__left">
        <Project
          v-for="project in leftProjects"
          :key="project.id"
          v-bind="project.repo"
        />
      </div>
      <div class="projects__right">
        <Project
          v-for="project in rightProjects"
          :key="project.id"
          v-bind="project.repo"
        />
      </div>
    </section>
  </div>
</template>

<style lang="postcss">
.projects {
  display: grid;
  grid-template:
    [row1-start] "project__titlebar project__titlebar project__titlebar" auto [row1-end]
    [row2-start] "projects__left projects__left projects__right" auto [row2-end] / 1fr 1fr 1fr;
  grid-row: 3;
  grid-column: 1 / span 2;
  grid-gap: 0 24px;
}

@media (max-width: 900px) {
  .projects {
    grid-template:
      [row1-start] "project__titlebar" auto [row1-end]
      [row2-start] "projects__left" auto [row2-end]
      [row2-start] "projects__right" auto [row2-end] / 1fr;
  }
}

.project__titlebar {
  display: flex;
  grid-area: project__titlebar;
}

.project__titlebar h1 {
  flex: 1;
}

.project__titlebar .repos {
  flex: 1;
}

.projects__left {
  grid-area: projects__left;

  & *:nth-child(even) {
    color: var(--lightest);
    transform: rotate3d(0, 1, 1, 2deg);
  }

  & *:nth-child(odd) {
    color: var(--lightest);
    transform: rotate3d(1, 1, 0, -2deg);
  }
}

.projects__right {
  grid-area: projects__right;

  & *:nth-child(even) {
    color: var(--lightest);
    transform: rotate3d(0, 1, 1, 2deg);
  }

  & *:nth-child(odd) {
    color: var(--lightest);
    transform: rotate3d(1, 1, 0, -2deg);
  }
}

.projects__right h2 {
  font-size: 1rem;
}
</style>

<route lang="yaml">
meta:
  title: Zac Pez Portfolio
</route>
