<script setup lang="ts">
import profile from '~/store/statics/profile.json'
import ResumeTimeline from '~/components/ResumeTimeline.vue'
import Skills from '~/components/Skills.vue'
const history = profile.history
</script>

<template>
  <div>
    <div
      class="grid grid-cols-[1fr,2fr] <lg:grid-cols-1 lg:gap-y-8 lg:gap-x-16 text-left"
    >
      <Info class="row-start-1 lg:row-span-2 lg:col-start-1 <lg:mb-16" />
      <ResumeTimeline
        :history="history"
        class="row-start-3 lg:row-start-2 lg:row-span-2 lg:col-start-2"
      />
      <h2 class="row-start-2 lg:row-start-1 lg:col-start-2 <lg:mb-4">
        Resumé
      </h2>
      <Bio class="lg:row-start-3 lg:row-span-2 lg:col-start-1 <lg:my-16" />
      <Skills class="lg:row-start-4 lg:col-start-1 lg:col-span-2" />
    </div>
  </div>
</template>

<route lang="yaml">
meta:
  title: Zac Pez Portfolio
</route>
