<script setup lang="ts">
defineProps(['id', 'title', 'date', 'author', 'body', 'open'])
</script>

<template>
  <article role="article" class="article" :class="{ 'article--open': open }">
    <div class="article__content">
      <h3>
        {{ title }}
      </h3>
      <span class="published">
        Published on <strong>{{ date }}</strong> by <mark>{{ author }}</mark>
      </span>
      <span class="text-left relative top-32px" v-html="body" />
    </div>
    <div class="article__details">
      <router-link :to="{ path: `/article/${id}` }" class="article__details__link">
        Read More
      </router-link>
    </div>
  </article>
</template>

<style lang="postcss" scoped>
@import "../styles/variables.pcss";

.article {
  position: relative;
  max-height: 500px;
  margin-bottom: 32px;
  overflow: hidden;
  border-radius: 6px;

  &--open {
    max-height: unset;
    overflow: visible;

    & .article__details {
      font-family: Maven Pro, sans-serif;
      opacity: 0;
    }
  }

  & .article__details {
    position: absolute;
    bottom: 8px;
    width: 100%;
    height: 72px;
    padding: 16px 4%;
    color: var(--lightest);
    text-align: right;
    background: var(--lightest-aplha);
    transition: all 0.33s;
    transform: translate3d(-2%, 50%, 0) scale(1.1) rotateZ(-3deg);

    &:hover {
      transition: all 0.33s;
      transform: translate3d(-7%, 45%, 0) scale(1.2) rotateZ(-2deg);
    }

    & .article__details__link {
      padding: 4px;
      cursor: pointer;
      background: var(--darkest);
    }
  }
}
</style>
