<template>
  <section role="main">
    <h2>Bio</h2>
    <p>
      Zac is a resourceful software developer, he always loves to get hands on code to
      flesh out and improve projects. Have technical data-driven question? He'll answer "I
      can write a script for that!" Comfortable in a team setting providing input on
      concepts, designs, implementations, and testing plans. He aspires to be employed in
      the software engineering, web programming, or game development industries. With
      years devoted to his personal projects, employment, and education has him well
      versed in programming on a primarily Linux environment. As projects afford different
      solutions, he is flexible to using dozens of languages such as C/C++, Java,
      JavaScript, Perl, Php, and Python. Have any questions? Don't hesitate to reach out,
      he'll be happy to put heads together with you.
    </p>
  </section>
</template>
