<script setup lang="ts">
import { isDark, toggleDark } from '~/composables'
</script>

<template>
  <footer class="pb-8 pt-16 <xl:px-8 flex flex-row justify-between">
    <p>Copyright ⓒ {{ new Date().getFullYear() }}, Zac Pez. All rights reserved.</p>
    <span class="flex flex-row gap-8">
      <mdi-weather-sunny v-if="isDark" @click="toggleDark()" />
      <mdi-moon-waning-crescent v-else @click="toggleDark()" />

      <router-link rel="noreferrer" to="/" title="Home">
        Home
      </router-link>

      <router-link rel="noreferrer" to="/resume" title="Resumé">
        Resumé
      </router-link>

      <router-link rel="noreferrer" to="/articles" title="Articles">
        Articles
      </router-link>

      <!-- <router-link
      rel="noreferrer"
      to="/projects"
      title="Projects"
    >
      Projects
    </router-link> -->

      <a
        class="icon-btn i-carbon-logo-github"
        rel="noreferrer"
        href="https://github.com/zacpez"
        target="_blank"
        title="Github"
      />
    </span>
  </footer>
</template>

<style lang="postcss" scoped>
@import "../styles/variables.pcss";
footer {
  & a {
    color: var(--complement-0);

    &:hover {
      color: var(--complement-1);
    }
  }
}
</style>
