<script setup lang="ts">
const route = useRoute()
</script>

<template>
  <header class="flex flex-col w-full">
    <div class="shadow-md">
      <h1 class="max-w-1280px mx-auto <xl:px-8">
        {{ route.meta.title }}
      </h1>
    </div>
    <div class="w-full max-w-1280px mx-auto <xl:px-8">
      <nav class="flex flex-row -mt-2">
        <router-link
          :to="{ path: '/' }"
          title="Home"
        >
          Home
        </router-link>

        <router-link
          :to="{ path: '/resume' }"
          title="Resumé"
        >
          Resumé
        </router-link>

        <router-link
          :to="{ path: '/articles' }"
          title="Articles"
        >
          Articles
        </router-link>

        <!-- <router-link
          :to="{ path: '/projects' }"
          title="Projects"
          class="transform origin-top-right -rotate-z-12 mr-8 px-4 py-1"
        >
          Projects
        </router-link> -->
      </nav>
    </div>
  </header>
</template>
