<template>
  <section class="info" role="banner">
    <img
      class="avatar" alt="Zac Pez" srcset="
        /icon_384x384.webp    384w,
        /icon_512x512.webp    512w,
        /icon_1024x1024.webp 1024w
      " sizes="(max-width: 1024px) 100vw,
        1024px" src="/icon_384x384.webp"
    >
    <div class="info__desc" role="complementary">
      <h1 class="info__desc__name">
        Zac Pez<sub>BSc</sub>
      </h1>
      <h2 class="info__desc__employer text-black dark:text-white">
        <span> Member of Technical Staff and Developer </span>
        <sub class="h-32px overflow-visible m-0 pt-2">
          <router-link class="h-32px overflow-visible pt-8" :to="{ path: '/resume/' }">
            @ RunWhen
          </router-link>
        </sub>
      </h2>
      <ul class="list--undecor">
        <li class="list__label label--even">
          <router-link :to="{ path: '/resume/' }" class="w-full">
            <div style="display: flex; flex-direction: row-reverse">
              <span class="desc">Production Solutions</span>
              <span class="icon__wrap">
                <svg
                  class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1" width="16" height="16" viewBox="0 0 16 16"
                >
                  <path
                    d="M0 1v14h16v-14h-16zM15 14h-14v-12h14v12zM14 3h-12v10h12v-10zM7 8h-1v1h-1v1h-1v-1h1v-1h1v-1h-1v-1h-1v-1h1v1h1v1h1v1zM11 10h-3v-1h3v1z"
                  />
                </svg>
              </span>
            </div>
          </router-link>
        </li>
        <li class="list__label">
          <router-link :to="{ path: '/resume/' }" class="w-full">
            <div style="display: flex">
              <span class="desc">Technical Consultation</span>
              <span class="icon__wrap">
                <svg
                  class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1" width="16" height="16" viewBox="0 0 16 16"
                >
                  <path
                    d="M0 1v14h16v-14h-16zM15 14h-14v-12h14v12zM14 3h-12v10h12v-10zM7 8h-1v1h-1v1h-1v-1h1v-1h1v-1h-1v-1h-1v-1h1v1h1v1h1v1zM11 10h-3v-1h3v1z"
                  />
                </svg>
              </span>
            </div>
          </router-link>
        </li>
        <li class="list__label label--even">
          <router-link :to="{ path: '/resume/' }" class="w-full">
            <div style="display: flex; flex-direction: row-reverse">
              <span class="desc">Software Prototyping</span>
              <span class="icon__wrap">
                <svg
                  class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1" width="16" height="16" viewBox="0 0 16 16"
                >
                  <path
                    d="M0 1v14h16v-14h-16zM15 14h-14v-12h14v12zM14 3h-12v10h12v-10zM7 8h-1v1h-1v1h-1v-1h1v-1h1v-1h-1v-1h-1v-1h1v1h1v1h1v1zM11 10h-3v-1h3v1z"
                  />
                </svg>
              </span>
            </div>
          </router-link>
        </li>
        <li class="list__label">
          <router-link :to="{ path: '/resume/' }" class="w-full">
            <div style="display: flex">
              <span class="desc">Research &amp; Development</span>
              <span class="icon__wrap">
                <svg
                  class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1" width="16" height="16" viewBox="0 0 16 16"
                >
                  <path
                    d="M0 1v14h16v-14h-16zM15 14h-14v-12h14v12zM14 3h-12v10h12v-10zM7 8h-1v1h-1v1h-1v-1h1v-1h1v-1h-1v-1h-1v-1h1v1h1v1h1v1zM11 10h-3v-1h3v1z"
                  />
                </svg>
              </span>
            </div>
          </router-link>
        </li>
        <li class="list__label label--even">
          <router-link :to="{ path: '/resume/' }" class="w-full">
            <div style="display: flex; flex-direction: row-reverse">
              <span class="desc">Full Stack Web Developer</span>
              <span class="icon__wrap">
                <svg
                  class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1" width="16" height="16" viewBox="0 0 16 16"
                >
                  <path
                    d="M0 1v14h16v-14h-16zM15 14h-14v-12h14v12zM14 3h-12v10h12v-10zM7 8h-1v1h-1v1h-1v-1h1v-1h1v-1h-1v-1h-1v-1h1v1h1v1h1v1zM11 10h-3v-1h3v1z"
                  />
                </svg>
              </span>
            </div>
          </router-link>
        </li>
      </ul>
      <h2 class="mt-24">
        Find me online
      </h2>
      <div class="socials">
        <a rel="noopener noreferrer" target="_blank" href="https://github.com/zacpez" alt="Navigate to his Email">
          <div class="social__image">
            <svg
              version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 16 16"
            >
              <title>Email symbol</title>
              <path
                d="M13.333 0h-10.666c-1.467 0-2.667 1.2-2.667 2.667v10.666c0 1.468 1.2 2.667 2.667 2.667h10.666c1.467 0 2.667-1.199 2.667-2.667v-10.666c0-1.467-1.2-2.667-2.667-2.667zM13.333 2c0.125 0 0.243 0.036 0.344 0.099l-5.678 4.694-5.677-4.694c0.101-0.063 0.219-0.099 0.344-0.099h10.666zM2.667 14c-0.030 0-0.060-0.002-0.089-0.006l3.525-4.89-0.457-0.457-3.646 3.646v-9.549l6 7.256 6-7.256v9.549l-3.646-3.646-0.457 0.457 3.525 4.89c-0.029 0.004-0.059 0.006-0.088 0.006h-10.666z"
              />
            </svg>
          </div>
          <span aria-hidden="true" class="visually-hidden">Email is great for more communication</span>
        </a>
        <a rel="noopener noreferrer" target="_blank" href="mailto:zac@zacpez" alt="Navigate to his Github">
          <div class="social__image">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <title>GitHub icon</title>
              <path
                d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
              />
            </svg>
          </div>
          <span aria-hidden="true" class="visually-hidden">Github is great to see what I am up to</span>
        </a>
        <a
          rel="noopener noreferrer" target="_blank" href="https://ca.linkedin.com/in/zacpez"
          alt="Navigate to his LinkedIn"
        >
          <div class="social__image">
            <svg
              version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 16 16"
            >
              <title>LinkedIn logo</title>
              <path
                d="M14.5 0h-13c-0.825 0-1.5 0.675-1.5 1.5v13c0 0.825 0.675 1.5 1.5 1.5h13c0.825 0 1.5-0.675 1.5-1.5v-13c0-0.825-0.675-1.5-1.5-1.5zM6 13h-2v-7h2v7zM5 5c-0.553 0-1-0.447-1-1s0.447-1 1-1c0.553 0 1 0.447 1 1s-0.447 1-1 1zM13 13h-2v-4c0-0.553-0.447-1-1-1s-1 0.447-1 1v4h-2v-7h2v1.241c0.412-0.566 1.044-1.241 1.75-1.241 1.244 0 2.25 1.119 2.25 2.5v4.5z"
              />
            </svg>
          </div>
          <span aria-hidden="true" class="visually-hidden">LinkedIn is great for more communication</span>
        </a>
      </div>
    </div>
  </section>
</template>

<style lang="postcss" scoped>
.info {
  & .avatar {
    position: relative;
    width: 100%;
    min-width: 100%;
    filter: drop-shadow(8px 8px 12px rgba(0, 95, 121, 0.2)) hue-rotate(180deg);
    border-radius: 50%;

    &:before {
      display: block;
      padding-top: calc(100% - 16px);
      content: "";
    }
  }

  & .info__desc {
    margin: -64px 0 0;
  }

  & .info__desc__employer {
    display: flex;
    flex-direction: column;
    margin: 48px 0;
  }

  & .list--undecor {
    padding: 0;
  }

  & .info__desc__name {
    font-weight: bold;
    text-align: center;
  }

  & .repos,
  & .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 0 0;
  }

  & .repos {
    justify-content: flex-end;
    margin: 0;
  }

  & .repos a,
  & .socials a {
    flex: 1 0 auto;
    max-width: min(30%, 128px);
    background: linear-gradient(to bottom right,
        var(--foreground-0),
        var(--foreground-2));
    border-radius: 50%;
    box-shadow: 6px 6px 12px rgba(99, 88, 42, 0.22);
    transition: all 0.33s;
  }

  & .repos a {
    max-width: 40px;
    max-height: 40px;
    margin: 0 0 0 12px;
  }

  & .repos .social__image,
  & .socials .social__image {
    max-height: 128px;
    text-align: center;
  }

  & .repos .social__image svg,
  & .socials .social__image svg {
    transform: scale(0.57);
  }

  & .repos a:hover,
  & .socials a:hover {
    background: linear-gradient(to bottom right,
        var(--complement-2),
        var(--foreground-3));
    transition: all 0.33s;
    transform: scale(1.2) translate3d(0, -10px, 0);
  }

  & .repos a:hover svg,
  & .socials a:hover svg {
    fill: var(--complement-0);
    transition: all 0.33s;
    transform: scale(0.62);
  }
}
</style>
