<script setup lang="ts">
defineProps([
  'id',
  'url',
  'title',
  'updatedAt',
  'description',
  'issueLink',
  'issueCount',
  'watcherLink',
  'watcherCount',
  'forkLink',
  'forkCount',
  'wikiLink',
])
</script>

<template>
  <article class="project" role="article">
    <div class="project__content">
      <a target="_blank" rel="noopener noreferrer" :href="url">
        <h2>
          {{ title }}
        </h2>
      </a>
      <span class="published">
        Updated on
        <strong>{{ new Date(updatedAt).toLocaleDateString("en-CA") }}</strong> by
        <mark>Zac Pez</mark>
      </span>
      <p class="mt-2">
        {{ description }}
      </p>
    </div>
    <div class="project_details">
      <div class="details__wrapper">
        <div>
          <a target="_blank" rel="noopener noreferrer" :href="issueLink">
            {{ issueCount }} Issues
          </a>
        </div>
        <div>
          <a target="_blank" rel="noopener noreferrer" :href="watcherLink">
            {{ watcherCount }} Watchers
          </a>
        </div>
        <div>
          <a target="_blank" rel="noopener noreferrer" :href="forkLink">
            {{ forkCount }} Forks
          </a>
        </div>
        <div>
          <a target="_blank" rel="noopener noreferrer" :href="`${wikiLink}/wiki`">
            Wiki
          </a>
        </div>
      </div>
    </div>
  </article>
</template>

<style lang="postcss" scoped>
@import "../styles/variables.pcss";

:root {
  --primary-0: rgba(72, 30, 63, 1);
  --complement-0: var(--foreground-0);
  --complement-1: var(--foreground-1);
  --complement-2: var(--foreground-2);
  --complement-3: var(--foreground-3);
}

.project {
  margin-bottom: 16px;
  overflow: hidden;
  color: var(--lightest);
  background-image: linear-gradient(to bottom right, #722, #652);
  border: 1px solid var(--secondary-2-3);
  border-radius: 8px;
  box-shadow: 8px 8px 16px rgba(96, 23, 23, 0.33);

  & .article__content,
  & .project__content.project__content {
    max-height: 300px;
    padding: 0 16px;
    overflow: hidden;
  }

  & .details,
  & .project_details {
    display: flex;
    justify-content: flex-end;
    width: 110%;
    height: 64px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.33s;
    transform: translate3d(-5%, 50%, 0) rotateZ(-3deg);
  }

  & .project_details {
    width: 110%;
    height: 64px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.33s;
    transform: translate3d(-5%, 45%, 0) rotateZ(-3deg);
  }

  & .details__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    padding: 1% 7%;
    text-align: right;
  }

  & .details:hover,
  & .project_details:hover {
    transition: all 0.33s;
    transform: translate3d(-5%, 15%, 0) rotateZ(-2deg);
  }
  & .details a {
    margin: 12px 64px;
    transition: all 0.33s;
  }

  & .details:hover a {
    color: #fff;
    transition: all 0.33s;
    transform: translate3d(0, 5%, 0) scale(1.1);
  }
  & .project_details a {
    margin-left: 0.25rem;
    transition: all 0.33s;
  }

  & .project_details a:hover {
    color: #fff;
    transition: all 0.33s;
  }

  & mark {
    padding: 0 4px;
    color: var(--lightest);
    background-color: var(--darkest);
  }

  & a {
    margin: auto;
    color: var(--complement-0);
    transition: all 0.66s;
  }
  & a:active,
  a:visited {
    color: var(--complement-1);
  }

  & a:hover {
    color: var(--lightest);
  }

  & .published {
    height: 1.5rem;
    font-family: Maven Pro, sans-serif;
  }
}
</style>
