<script setup lang="ts">
defineProps(['history'])
</script>

<template>
  <div class="graph">
    <div
      v-for="item in history"
      :key="item.title"
      class="node-connection"
    >
      <div class="node-path">
        <article class="node-bubble">
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
          <h4 class="visually-hidden">
            Active between
          </h4>
          <div class="times-wrap">
            <ol class="times">
              <li>
                {{ item.start }}
              </li>
              >
              <li>
                {{ item.end || "Present" }}
              </li>
            </ol>
          </div>
          <h4 class="visually-hidden">
            Descriptive keywords
          </h4>
          <ul class="tags">
            <li
              v-for="tag in item.tags"
              :key="tag"
              class="tag"
            >
              <mark>{{ tag }}</mark>
            </li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
@import "../styles/variables.pcss";

.graph {
  border-left: 1.1rem solid var(--lightest-aplha);
}

.node-connection:before {
  position: absolute;
  margin: -1.45rem 0 0 -1.3rem;
  font-size: 2rem;
  content: '☉';
}

.node-path {
  border-top: 1px solid;
}

.node-bubble {
  position: relative;
  min-height: 10rem;
  margin: 2rem 0 2rem 0.5rem;
}

.times-wrap {
  position: absolute;
  top: -0.5rem;
  left: -1.6rem;
}

.times {
  position: absolute;
  top: 4rem;
  left: -3.9rem;
  display: flex;
  justify-content: space-between;
  width: 9rem;
  padding: 0;
  list-style: none;
  transform: rotate(-90deg);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.tag {
    margin: 0 1rem 1rem 0;
}

mark {
    padding-inline: 1rem;
}
</style>
