<template>
  <section class="skills grid lg:grid-cols-3 <lg:gap-8" role="complementary" aria-label="Technical Skills">
    <div>
      <h2>Technical Skills</h2>
      <ul>
        <li>Linux/Windows Environments</li>
        <li>SQL / NoSQL Database Programming</li>
        <li>Traditional Web Development</li>
        <li>RESTful API</li>
        <li>Google Cloud & Azure</li>
        <li>Frontend Development(Vue3/PCSS/SCSS)</li>
      </ul>
    </div>
    <div>
      <h2>Programming Languages</h2>
      <ul>
        <li>C#</li>
        <li>TypeScript</li>
        <li>Python</li>
        <li>C/C++</li>
        <li>PHP</li>
        <li>Java</li>
      </ul>
    </div>
    <div>
      <h2>Education</h2>
      <h3>Vancouver Island University</h3>
      <p><strong>Bachelor of Science,</strong> Major in Computing Science</p>
    </div>
  </section>
</template>
