<script setup lang="ts">
import Header from '~/components/Header.vue'
import Footer from '~/components/Footer.vue'
</script>

<template>
  <div class="flex flex-col">
    <component :is="Header" class="w-full mx-auto" />
    <main class="text-center h-full min-h-screen contents">
      <router-view class="max-w-1280px mx-auto mt-16 <xl:px-8" />
    </main>
    <component :is="Footer" class="w-full max-w-1200px mx-auto <lg:px-8" />
  </div>
</template>
