
img {
  filter: drop-shadow(8px 8px 12px rgba(0, 95, 121, 0.2)) hue-rotate(180deg);
}
.banner__home {
  transition: all ease .33s;
  position: relative;
  margin-right: 56px;
  text-decoration: none;
}

.banner__home:hover {
  margin-left: 32px;
}

.banner__image {
  transition: all ease .33s;
  position: absolute;
  height: 48px;
  border-radius: 50%;
}

.banner__home span {
  transition: all ease .33s;
  position: absolute;
  opacity: 0;
  font-size: 48px;
  color: var(--foreground-1);
}

.banner__home:hover span {
  opacity: 1;
  margin-left: -32px;
}
