.list__label {
  display: flex;
  margin: 8px 0;
  margin-bottom: 48px;
  transition: all 0.33s;
  transform: rotate(2deg);
}
.label--even {
  flex-direction: row-reverse;
  text-align: right;
  transform: rotate(-2deg);
}

.list__label span.desc {
  flex: 1;
  transition: all 0.33s;
  border-bottom: 4px solid var(--darkest-alpha);
  padding: 0 16px;
}

.list__label .icon__wrap {
  position: relative;
  flex: 0;
  padding: 0px 16px;
  border-bottom: unset;
}

.list__label .icon {
  position: absolute;
  transition: all 0.33s;
  right: 4px;
  top: 18px;
  transform: scale(4);
  border: 1px solid var(--darkest-alpha);
  border-radius: 24px;
  padding: 2px;
  fill: var(--lightest-1);
  stroke: var(--darkest-alpha);
}

.list__label:hover {
  transform: rotate(1deg);
  padding: 0 32px;
  color: var(--lightest-1);
  cursor: pointer;
}

.list__label:hover .desc {
  padding: 0 32px;
  border-color: var(--foreground-1);
}

.list__label:hover .icon {
  fill: var(--foreground);
  stroke: var(--foreground-1);
  border-color: var(--foreground-1);
}

.label--even:hover {
  transform: rotate(-1deg);
  color: var(--lightest-1);
}

.label--even .icon {
  right: 0;
  left: 12px;
}

.dark {
  .list__label {
    span.desc {
      border-bottom: 4px solid var(--lightest-aplha);
    }
    .icon {
      fill: var(--darkest-1);
      stroke: var(--lightest-aplha);
      border: 1px solid var(--lightest-aplha);
    }
  }
}
