h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 8px 0;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(0deg,var(--foreground-0),var(--foreground-2));
  filter: drop-shadow(1px 3px 6px var(--darkest-alpha));
  font-family: Maven Pro, sans-serif;
  font-display: swap;

  & sub {
    margin: 8px 0;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(0deg,var(--foreground-0),var(--foreground-2));
    filter: drop-shadow(3px 3px 6px var(--darkest-alpha));
    font-family: Maven Pro, sans-serif;
    font-display: swap;
  }
}
.dark {
  h1, h2, h3, h4, h5, h6 {
    background-image: linear-gradient(0deg,var(--foreground-0),var(--foreground-2));
    filter: drop-shadow(1px 3px 2px var(--darkest));

    & sub {
      background-image: linear-gradient(0deg,var(--foreground-0),var(--foreground-2));
      filter: drop-shadow(3px 3px 2px var(--darkest));
    }
  }
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;

  & sub {
    height: fit-content;
    font-size: 1rem;
  }
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.1rem;
}
h6 {
  font-size: 1rem;
}
p {
  letter-spacing: 1px;
  font-weight: 200;
}
nav a {
  @apply transform;
  @apply mr-8;
  @apply px-4;
  @apply py-1;
  border-radius: 4px;
  background: var(--darkest-1);
  color: var(--foreground-0);
  filter:  drop-shadow(0 4px 3px rgba(0, 0, 0, 0.08)) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.07));

  &:nth-child(even) {
    @apply origin-top-left rotate-z-4;
  }
  &:nth-child(odd) {
    @apply origin-top-right -rotate-z-4;
  }

  &.router-link-active {
    background: rgba(238, 238, 238, 0.1);
    color: var(--foreground-1);
    font-weight: bold;
    filter:  drop-shadow(0 4px 3px rgba(255, 255, 255, 0.14)) drop-shadow(0 2px 2px rgba(255, 255, 255, 0.12));
  }
  &:hover {
    background: rgba(238, 238, 238, 0.05);
    color: var(--foreground-1);
    filter:  drop-shadow(0 4px 3px rgba(255, 255, 255, 0.14)) drop-shadow(0 2px 2px rgba(255, 255, 255, 0.12));
  }
}
mark {
  background-color: var(--foreground-1);
  padding: 0 4px;
}
sub {
  font-size: 0.5em;
}
h2 span {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(0deg,var(--foreground-0),var(--foreground-2));
}
h2 sub {
  font-size: 0.6em;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(0deg,var(--lightest),var(--lightest-aplha));
}
